%text-style {
  margin: 0;
  font-weight: 400;
}

.post-info {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: center;
  align-items: baseline;

  &__container {
    padding-left: 40px;
  }

  &__header {
    @extend %text-style;

    padding: 5px;
    border-radius: 10px;
    background-color: beige;
    font-size: 24px;
    color: #3b3e49;
  }

  &__description {
    @extend %text-style;

    padding-top: 20px;
    font-size: 20px;
    color: #7c7d7e;
  }

  &__button {
    &:focus {
      outline: none;
    }
  }
}
